spring:
  application:
    name: FoodOrderSystem
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    url: jdbc:postgresql://localhost:5432/food-order-system-db
    username: postgres
    password: 123456
    driver-class-name: org.postgresql.Driver