<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Керування Меню</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <header>
        <h1>Адмін-панель</h1>
        <nav>
            <a th:href="@{/admin/menu}">Керування Меню</a>
            <a th:href="@{/admin/orders}">Активні Замовлення</a>
        </nav>
    </header>

    <h2>Додати новий елемент</h2>
    <form th:action="@{/admin/menu/addItem}" th:object="${newItem}" method="post">
        <div class="form-group">
            <label for="name">Назва:</label>
            <input type="text" id="name" th:field="*{name}" required>
        </div>
        <div class="form-group">
            <label for="price">Ціна:</label>
            <input type="number" id="price" th:field="*{price}" min="0" step="0.01" required>
        </div>
        <button type="submit">Додати елемент</button>
    </form>

    <hr>

    <h2>Наявне меню</h2>
    <div class="item-list">
        <div th:each="item : ${menu}" class="item-card">
            <div class="item-details">
                <h3 th:text="${item.name}">Назва елементу</h3>
                <b th:text="${#numbers.formatDecimal(item.price, 1, 2) + ' грн'}">0.00 грн</b>
            </div>
            <div class="item-actions">
                <form th:action="@{/admin/menu/deleteItem}" method="post">
                    <input type="hidden" name="itemId" th:value="${item.id}" />
                    <button type="submit" class="danger">Видалити</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>