<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ваше Замовлення</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <header>
        <h1 th:text="'Замовлення для ' + ${order.customer?.firstName} + ' ' + ${order.customer?.lastName}">Замовлення для...</h1>
    </header>

    <div class="order-container">

        <div class="order-current">
            <h3>Ваше замовлення</h3>
            <div class="order-card">
                <div th:if="${order.items.isEmpty()}">
                    <p>Ваш кошик порожній.</p>
                </div>
                <ul>
                    <li th:each="item : ${order.items}"
                        th:text="${item.name + ' - ' + #numbers.formatDecimal(item.price, 1, 2) + ' грн'}">
                        Елемент
                    </li>
                </ul>
            </div>
            <form th:action="@{/order/send}" method="post">
                <input type="hidden" name="orderId" th:value="${order.id}" />
                <button type="submit" th:disabled="${order.items.isEmpty()}">Надіслати замовлення</button>
            </form>
        </div>

        <div class="order-menu">
            <h3>Додати до замовлення</h3>
            <div class="item-list">
                <div th:each="item : ${menu}" class="item-card">
                    <div class="item-details">
                        <h3 th:text="${item.name}">Назва елементу</h3>
                        <b th:text="${#numbers.formatDecimal(item.price, 1, 2) + ' грн'}">0.00 грн</b>
                    </div>
                    <div class="item-actions">
                        <form th:action="@{/order/addItem}" method="post">
                            <input type="hidden" name="orderId" th:value="${order.id}" />
                            <input type="hidden" name="itemId" th:value="${item.id}" />
                            <button type="submit">Додати</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>